html, body {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* left panel */
#settings-panel {
	float: left;
	width: 20%;
	height: 100%;
	font-size: 13px;
	overflow: hidden;
	background: #ededed;
	border-right: 1px solid gray;
}

/* top-left */
#chart-settings {
	width: 100%;
	height: 25%;
	float: left;
	padding: 10px;
	border-bottom: 1px solid gray;
	background: #ededed;
}

#chart-settings input[type = "number"] {	width: 30%; }

/* middle-left; list view of series/files */
#series-view {
	float: left;
	display: inline block;
	background: #e1e1e1;
	width: 100%;
	border-bottom: 1px solid #bdbdbd;
}

/* series selection + button area */
.select-series {
	float: left;
	padding: 15px;
	width: 100%;
	background: #ededed;
}

#series-view .space {
	margin-left: 5px;
	font-size: 12px;
}

/* contains options */
#series-view #set-series {
	display: none;
	padding: 10px;
	background: #e1e1e1;
}

/* selection list */
#series-view #series-list {
	margin-top: 10px;
	width: 125px;
	height: 50%;
}

/* series option area */
#gen-hist a {
	color: black;
	text-decoration: none;
}

/* chart mouseover labels */
.edit {
	background-color: #FCF79F;
	position: absolute;
	display: none;
	padding: 10px;
	width: 220px;
	height: 80px;
	font-size: 13px;
}

.edit span {
	margin-left: 10px;
}

button {
	font-size: 13px;
	margin: 0;
}

/* remainder region containing chart */
#chart-container {
	float: left;
	display: inline block;
	margin-right: 0;
	width: 79%;
	height: 100%;
}

/* chart container */
#chart {
	position: relative;
	width: 70%;
	height: 60%;
	margin-left: 15%;
	margin-top: 3%;
	float: left;
	display: inline block;
	border: 1px solid gray;
	text-align: center;
}
