body {
	font-family: sans-serif;
}

div span {
	margin-left: 10px;
}

/* chart area */

#chart-resizer { /* outer panel */
	width: 60%;
	margin-left: 20%;
	margin-top: 3%;
	border: 1px solid gray;
}

#container {
	text-align: center;
}

/* label setting windows */
.edit {
	background-color: #FCF79F;
	position: absolute;
	display: none;
	padding: 10px;
	width: 220px;
	height: 80px;
	font-size: 13px;
}

.edit span {
	margin-left: 10px;
}

button {
	font-size: 13px;
	margin-top: 5px;
}

/* top panel */
#settings-top {
	width: 100%;
	min-height: 100px;
	font-size: 13px;
}

/* top-left */
#chart-settings {
	margin-left: 3%;
	width: 20%;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	background: #ededed;
}

#chart-settings input {
	width: 30%;
}

/* top-middle */
#series-view {
	margin-left: 35%;
	width: 30%;
	border: 1px solid black;
	display: inline block;
	background: #e1e1e1;
	border-radius: 5px;
}

/* tab area */
#tabs {
	margin:0;
	padding: 5px;
	list-style:none;
	overflow:hidden;
}

/* individual tab */
#tabs li {
	float: left;
	display: block;
	padding: 5px;
	background-color: #bbb;
	margin-right: 5px;
	height: 17px;
	border-left: 1px solid gray; 
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	z-index: 1;
}

#tabs li a {
	color: black;
	text-decoration: none;
}

#tabs li.current {
	background-color: #e1e1e1;
}

#tabs li.current a {
	color: #000;
	text-decoration: none;
}

#tabs li a.remove {
	color: #f00;
	margin-left: 10px;
}

.tab-content {
	display: none;
	padding: 5px;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	margin-left: 5px;
	margin-top: -6px;
	z-index: 2;
}
