html, body {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

div span {
	margin-left: 10px;
}

/* chart area */

#chart-resizer { /* outer panel */
	width: 60%;
	margin-left: 20%;
	margin-top: 3%;
	border: 1px solid gray;
}

#container {
	text-align: center;
}

/* top panel */
#settings-top {
	width: 100%;
	height: 25%;
	font-size: 13px;
	border-bottom: 1px solid #bdbdbd;
	overflow: hidden;
	background: #ededed;
}

/* top-left */
#chart-settings {
	width: 20%;
	height: 100%;
	float: left;
	padding: 10px;
	border-right: 1px solid #bdbdbd;
	background: #ededed;
}

#chart-settings input {
	width: 30%;
}

/* top-middle */
#tab-view {
	float: left;
	width: 30%;
	height: 100%;
	display: none;
	background: #ededed;
	padding-left: 10px;
	border-right: 1px solid #bdbdbd;
}

/* tab area */
#tabs {
	margin: 0;
	padding: 5px;
	list-style: none;
	overflow: hidden;
}

/* individual tab */
#tabs li {
	float: left;
	display: block;
	padding: 5px;
	background-color: #bbb;
	margin-right: 5px;
	height: 17px;
	border-left: 1px solid gray; 
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	z-index: 1;
}

#tabs li a {
	color: black;
	text-decoration: none;
}

#tabs li.current {
	background-color: #ededed;
}

#tabs li.current a {
	color: #000;
	text-decoration: none;
}

#tabs li a.remove {
	color: #f00;
	margin-left: 10px;
}

.tab-content {
	display: none;
	padding: 5px;
	height: 100%;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	margin-left: 5px;
	margin-top: -6px;
	z-index: 2;
}

/* label setting windows */
.edit {
	background-color: #FCF79F;
	position: absolute;
	display: none;
	padding: 10px;
	width: 220px;
	height: 80px;
	font-size: 13px;
}

.edit span {
	margin-left: 10px;
}

button {
	font-size: 13px;
	margin: 0;
}

/* top-right */
#series-view {
	float: left;
	width: 35%;
	height: 100%;
	display: inline block;
	background: #e1e1e1;
	border-right: 1px solid #bdbdbd;
}

.select-series {
	float: left;
	padding: 5px;
	height: 100%;
	text-align: center;
	background: #ededed;
}

#series-view span {
	margin-left: 5px;
	font-size: 12px;
}

.select-series div {
	float: left;
	display: inline block;
}

#series-view #set-series {
	float: left;
	padding: 10px;
	height: 100%;
	background: #e1e1e1;
}

#series-view #series-list {
	margin-top: 10px;
	width: 120px;
	height: 50%;
}
